@media screen and (min-width: 768px) {
  .global-container {
    max-width: 498px;
    margin-left: auto;
    margin-right: auto;
  }
}
  
.float:hover{
  transform: scale(1.1);
  transition: 0.1s;
}

/* no need to add font family everywhere with this */
*{
  font-family: 'Montserrat'; 
}