.carousel-indicators{
    margin-bottom: -2rem!important;
  }

  .carousel-indicators>button{
    width: 10px!important;
    height: 10px!important;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: #fff;
  }